<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
        
    <!--<add name="infofix_Vikrant_Transport" connectionString="me9*-tadata=res://*/ISModel.csdl|res://*/ISModel.ssdl|res://*/ISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=yadusoft;persist security info=True;user id=sa;password=ashu@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
<add name="infofix_Vikrant_Transport" connectionString="metadata=res://*/ISModel.csdl|res://*/ISModel.ssdl|res://*/ISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=autovyneinvoice;persist security info=True;user id=sa;password=India@#5010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>